
html {
	background-image: url(../image/chalk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	widht: 100%;
	height: 100%;
	font-family: Helvetica;
}
.logo {
	bavkground-image: url(../image/pmi_logo.png);
	z-index: auto;
}
.nav_bar {
	max-height: 100%;
	margin: 30px;
}
li {
	display: inline-block;
}
.start {
	padding: 10px 20px;
	border: 3px solid #FF8000;
	background-color: transparent;
	text-decoration: none;
	border-radius: 5px;
	color: #FF8000;
	text-transform: uppercase;
	font-size: x-large;
}
a {
	text-decoration: none;
}
ul {
	margin-left: 1200px;
}
form {
	padding: 15% 40%;
}
input, button {
	display: block;
	margin: 15px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.btn>button {
	display: inline;
	cursor: pointer;
}
.submit {
	width: 120px;
}
.clear {
	margin: -5px;
}
fieldset {
	border: 4px solid #FF8000;
	border-radius: 6px;
}
* {
	transition: all .2s ease-in;
}

 